---
const { title, imageSrc, description, year, tags, link } = Astro.props;
---

<div class="max-w-md rounded-xl overflow-hidden shadow-md hover:shadow-xl transition-shadow duration-100 my-6">
  <img src={imageSrc} alt={title} class="w-full h-60 object-cover" loading="lazy" />
  <div class="px-6 py-4 bg-slate-100">
    <div class="flex flex-row justify-between">
        <h2 class="font-bold text-xl text-gray-800">{title}</h2>
        <span class="text-sm font-semibold text-gray-700 mt-0.5 sm:mt-0">{year}</span>
    </div>
    <p class="text-gray-700 text-base my-3 text-left font-medium">{description}</p>
    <div class="flex flex-wrap mt-2">
      {
        tags.map((tag) => (
          <span class="bg-blue-800 text-gray-100 text-xs font-semibold mr-2 my-1 px-2.5 py-0.5 rounded">
            {tag}
          </span>
        ))
      }
    </div>
    {link && (
      <a href={link} target="_blank" class="mt-4 text-lg inline-block text-white px-3 py-0.5 rounded font-semibold hover:underline bg-gradient-to-r from-slate-900 via-blue-800 to-slate-900 hover:from-blue-950 hover:via-blue-800 hover:to-blue-950 shadow-lg">
        View Project
      </a>
    )}
  </div>
</div>